* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
header {
  padding-top: 1rem;
  position: fixed;
  height: 2rem;
  width: 100%;
  background-color: white;
}
.front-heading {
  font-weight: 700;
  font-size: 40px;
}
#main-para {
  padding: 1rem 0;
  color: gray;
}
nav {
  float: right;
  padding-right: 20px;
}
.home-heading {
  padding-right: 1rem;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  color: black;
}
#first-name {
  font-weight: 600;
  font-size: 20px;
  color: black;
  padding-left: 1rem;
}
.home-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.heading {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
/* Tech Stack Section */
.icons-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h3 {
  font-size: 30px;
}
.icons-pack {
  padding: 0 0.5rem;
  height: 30px;
  width: 30px;
}
.icons {
  padding-left: 3rem;
}

/* end */
.image {
  height: 260px;
  width: 260px;
}
@keyframes example {
  0% {
    border-radius: 19% 81% 42% 58% / 50% 36% 64% 50%;
  }
  33% {
    border-radius: 44% 56% 61% 39% / 46% 60% 40% 54%;
  }
  66% {
    border-radius: 62% 38% 45% 55% / 60% 48% 52% 40%;
  }
  100% {
    border-radius: 73% 27% 35% 65% / 60% 33% 67% 40%;
  }
}

.profile-img {
  object-fit: cover;
  height: 100%;
  width: 80%;
  border: 3px solid black;
  margin-left: 4rem;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: example;
  animation-duration: 5s;
}

.profile-img {
  animation-timing-function: ease-in-out;
}

.top-icon {
  height: 30px;
  width: 30px;
  margin: 1rem 0;
}
.image-child {
  height: 220px;
  width: 220px;
}
.profile-img-child {
  border-radius: 10%;
  height: 100%;
  width: 100%;
}
.front-heading-child {
  color: rgb(72, 167, 251);
  font-size: 16px;
  margin: 0;
}
.main-para-child {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  margin-top: 0.4rem;
}
.name-child {
  padding-left: 3rem;
}
.description {
  margin-top: 1rem;
}

.description-about {
  color: rgb(94, 92, 92);
  font-size: 14px;
  margin: 0.3rem;
}
.heading-child {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  padding: 4rem 2.5rem 4rem 2.5rem;
}
.home-div-child {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portfolio */
.portfolio-heading {
  display: flex;
  justify-content: center;
  margin-right: 10rem;
  margin-bottom: 2rem;
}
.main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.main-nthblock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
#portfolio-text {
  color: rgb(55, 161, 255);
  font-size: 16px;
}
#image-container {
  height: 270px;
  width: 370px;
}
.image-container-nth{
  height: 270px;
  width: 370px;
}
#image-nthchild {
  height: 80%;
  width: 80%;
  border-radius: 0.5rem;
}
.text-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-nthchild {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 8rem;
}
#project-heading {
  font-size: 16px;
  padding: 1rem;
  font-weight: 700;
}
#use-stack {
  padding: 2rem 0;
  font-size: 15px;
}
.code-livedemo {
  display: flex;
}
svg.icon-container {
  padding-right: 1.5rem;
  width: 30px;
  height: 30px;
  padding-top: 4px;
  color: black;
}

.icon-title {
  padding: 0.3rem 0.4rem;
  font-size: 20px;
  font-weight: 600;
}
.icon-titlenth {
  padding: 0.3rem 0.4rem;
  font-size: 20px;
  font-weight: 600;
}
@media (width <= 1024px) {
  .heading {
    margin-top: 8rem;
    height: 50vh;
  }
  .home-div {
    height: 50vh;
  }
  .icons-pack {
    padding: 0 0.5rem;
    height: 40px;
    width: 45px;
  }
  h3 {
    font-size: 40px;
  }
  .home-div-child {
    height: 55vh;
  }
  .portfolio-heading {
    margin: 0rem;
  }
  .main-block {
    height: 42vh;
  }
  #image-nthchild {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }
  #image-container {
    height: 270px;
    width: 340px;
    padding-right: 4rem;
  }
  #project-heading {
    font-size: 24px;
    padding: 1rem;
    font-weight: 700;
  }
  #use-stack {
    padding: 1rem 0;
    font-size: 20px;
  }
  .icon-title {
    padding: 0.3rem 5px;
    font-size: 20px;
    font-weight: 600;
  }
  .icon-titlenth {
    padding: 0.3rem 0.5rem;
    font-size: 20px;
    font-weight: 600;
  }
  .image-child {
    height: 250px;
    width: 280px;
  }
  .text-nthchild {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0rem 4rem;
  }
  .description-about {
    color: rgb(0, 0, 0);
    font-size: 13px;
    margin: 0.5rem 0rem;
  }
}
@media (width <= 600px) {
  .heading {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100vh;
    margin-top: 10rem;
  }
  .front-heading {
    font-weight: 700;
    font-size: 50px;
    padding: 2rem;
  }
  .home-div {
    height: 100vh;
  }
  #main-para {
    padding: 1rem 0;
    color: gray;
    font-size: 20px;
  }
  .image {
    height: 300px;
    width: 260px;
  }
  .svg {
    width: 2.7rem;
    height: 1.7rem;
  }
  .top-icon {
    height: 50px;
    width: 50px;
    margin: 1rem 0;
  }
  .icons-main {
    display: flex;
    align-items: center;
    width: 100vb;
    padding: 3rem 0rem;
  }
  .profile-img {
    height: 90%;
  }
  .home-div-child {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
  }
  .front-heading-child {
    font-size: 20px;
  }
  .main-para-child {
    font-size: 33px;
    margin-top: 0.7rem;
  }
  .description-about {
    font-size: 20px;
    margin: 0.3rem 0rem;
  }
  .image-child {
    margin-top: 4rem;
  }
  .portfolio-heading {
    width: 100vb;
  }
  .main-block {
    height: 40vh;
    align-items: flex-start;
    width: 100vh;
    margin-top: 4rem;
  }
  #image-container {
    padding: 2rem 4rem 0rem 0rem;
  }
  .main-nthblock {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    margin-bottom: 5rem;
  }
}
@media (width <= 400px) {
  .heading-child {
    display: flex;
    flex-direction: row;

    height: 30vh;
  }
  .description-about {
    font-size: 17px;
  }
}

@media (width <= 376px) {
  .home-div-child {
      height: 100vh;
      margin-top: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vh;
}
.heading-child {
  display: flex;
  flex-direction: row;
  height: 20vh;
  border-radius: 20px;
  padding: 5rem 2.5rem 5rem 2.5rem;
}
.image-child {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
}
.description-about {
    font-size: 14px;
}
.profile-img-child {
  border-radius: 10%;
  height: 75%;
  width: 109%;
}
.main-block {
  height: 65vh;
  align-items: center;
  justify-content: center;
  width: 100vh;
  margin:0;
  /* margin-top: 4rem; */
}
#image-container {
  height: 270px;
  width: 270px;
  margin-right: 2rem;
  padding: 0;
  /* padding-right: 4rem; */
}
svg.icon-container {
  /* padding-right: 1.5rem; */
  width: 30px;
  height: 30px;
  padding:0;
  color: black;
}
.main-nthblock {
  margin-bottom: 10rem;
}
.project-description {
  font-size: 15px;
}
.image-container-nth {
  height: 270px;
  width: 370px;
  height: 270px;
  width: 270px;
  padding: 0;
}
}
